body {
  background-color: blueviolet;
}

h1 {
  text-align: center;
  font-size: 100px;
  color: yellow;
  border: 15px double;
  border-color: red;
  border-radius: 80px;
  width: 600px;
  margin: 50px auto 50px;
  &:hover {
    color: rgb(26, 235, 26);
  }
}

img {
  width: 200px;
}

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
}

p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}

.card {
  margin-left: 150px;
}

.personajes-container {
  margin: 0 auto;
  width: 500px;
}
.row {
  display: flex;
  align-content: center;
  align-items: center;
  margin-top: 50px;
}

